{% load staticfiles %}

<html>

  <head>

    <title>Birds</title>

    {{ form_media }}

    <link rel="stylesheet" type="text/css" href="{% static "birds/css/birds.css" %}">

  </head>

<body>

    {% if previous_page %}
    <a href={% url 'bird_list' %}?page={{ previous_page }}>Previous</a>
    {% endif %}
    {% if next_page %}
    <a href={% url 'bird_list' %}?page={{ next_page }}>Next</a>
    {% endif %}

    <table>
        <tbody>
            {% for bird in birds %}
              <tr>
                  <td>{{ bird.name }}</td>
                  <td>{{ bird.matched_regions }}</td>
                  <td>{{ bird.unmatched_regions }}</td>
                  <td>{{ bird.form.as_p }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>
